<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <header>
                <div id="logo">
                    logo
                </div>
                <h1>"LOC-ACTION"</h1>
                <div id="register">
                    <a href="/register">S'inscrire</a>
                </div>
            </header>
            <main>
                <div id="content">
                    {% block content %}
                    {% endblock %}
                </div>
            </main>
        {% endblock %}
    </body>
    <style>
        body{
            min-height: 100vh;
            background-color: rgb(233, 224, 224);
            padding: 0;
            margin: 0;
        }

        header {
            background-color: rgb(236, 72, 72);
            display: flex;
            color: black;
            justify-content: space-between;
            align-items: center;
            height: 5rem;
            box-shadow: 2px 2px 5px grey;
        }

        #content {
            display: flex;
            flex-wrap: wrap;
        }

        #logo{
            padding-left: 3rem;
        }

        #register {
            padding-right: 3rem;
        }
    </style>
</html>
